body {
  margin: 0;
  font-family: "Silka", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #393a6d; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393a6d;
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #393a6d;
  cursor: pointer;
}
